:root {
    --body-background: hsl(0, 0%, 8%);
    --contact-background: hsl(0, 0%, 14%);
    --green: hsl(153, 71%, 59%);
    --main-text: hsl(0, 0%, 100%);
    --co-main-text: hsl(0, 0%, 85%);
    --invalid-message: hsl(7, 100%, 68%);
    --font-size-18-body:1.125rem;
    --font-size-88-header1:5.5rem;
    --font-size-48-header2:3rem;
    --font-size-24-header3:1.5rem;
    --font-size-72-header4:4.5rem;
    --font-size-40-header5:2.5rem;
    --font-size-32-header6:2rem;
    --container:69.375rem;

}



html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--body-background);
    color: var(--main-text);
    font-size: var(--font-size-18-body);
    line-height: 1.56;

}

.wrapper {
    width:calc(100% - 2rem) ;
    max-width: var(--container);
    margin-inline: auto;

}

/*600px */
@media (min-width:37.5rem){ 
    .wrapper {
        width:calc(100% - 3.7rem);

    }
    

}
